body
{
	padding-top:90px;
}
input[type= "submit"]:hover
{
	cursor:pointer;
}

#masthead h1, #footer h1, #masthead p, #footer p {
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#footer p {
	margin-bottom: 0;
	color: rgba(255, 255, 255, .8);
}
#footer p.right {
	float: right;
}

.footer
{
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}

.spacer
{
	height:1px;
	width:100%;
	border-top:solid 3px #DDD;
	border-bottom:solid 1px #DDD;
}

.content
{
	width:585px;
	min-height:600px;
}

.container .entry div.region
{
	float:left;
	width:78px;
	padding-top:6px;
}
.container .entry div.message
{
	margin-left:80px;
}
.container .entry p
{
	color:#202020;
	font: 16px Georgia, "Times New Roman", Times, san-serif;
	margin:6px 0 6px 0;
}

.container .entry .message a.view_link, .container .entry .message a.edit_link
{
	font-size:13px;
	color:#686868;
	display:none;
}

.container .entry .message a.view_link:hover
{
	text-decoration:none;
}

#messages
{
	margin-left:0px;
	padding-left:0px;
    border-top: 1px solid #CCC;
}

h2, h3, h4
{
	line-height:24px;
}

h2 a, h3 a,  h4 a
{
	font-weight:bold;
}

#messages h3 a.topic
{
	color:#404040;
}

#hot-regions
{
	margin:6px 0;
}

#messages li, #hot-regions li
{
	list-style:none;
}
#hot-regions li
{
	line-height:24px;
}
#messages li
{
	border-bottom:1px solid #cccccc;
}

#messages li:last-child
{
	border-bottom:none;
	margin-bottom:20px;
}

#messages .user, #comments .user
{
	margin-top:0px;
	padding-top:0px;
}

#messages .user a img, div.entry .user a img, #comments .user a img
{
	float:right;
	display:block;
}

.ui-striped li:nth-child(even),
.ui-striped li:nth-child(even){
  background-color: #f9f9f9;
}

div.entry
{
	padding-top:6px;
	padding-bottom:4px;
}

div.entry:hover a.view_link
{
	display:inline !important;
}

.user h3
{
	font-size:13px;
	display:inline-block;
}

.user span.time
{
	font-size:12px;
	float:right;
}

.user h3 .description
{
	color:#BBBBBB;
	margin-left:10px;
}

div.entry p
{
	margin:4px 0 6px 0;
}

div.entry .action
{
	margin-top:6px;
}

div.entry .actions a
{
	color:#999;
}

#comments
{
	padding-top:4px;
}

#comments ul
{
	margin-left:0px;
	list-style:none;
}

#comments li
{
	margin-bottom:10px; 
	border-bottom:1px solid #cccccc;
}

#mycomments li:last-child, #comments li:last-child, #mytopics li:last-child
{
	border-bottom:none;
	margin-bottom:20px;
}

ul li .author
{
	margin-top:4px;
	margin-bottom:8px;
}

/*new comment */

h3.new-comment
{
	margin-bottom:6px;
}

/* user profile */

#userprofile h3
{
	font-family:'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif;
	padding-bottom:4px;
	border-bottom:1px solid #666;
	margin-bottom:8px;
}

#mytopics ul, #mycomments ul
{
	list-style:disc;
	margin-left:2px;
}

#mytopics li, #mycomments li
{
	padding: 6px 0px;
	border-bottom:1px solid #cccccc;
	list-style:none;
}

#mycomments li p
{
	color:black;
}